<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div id="footer" data-th-fragment="footer">
		
		<div class="mt-5">
			<div class="row p-5 bg-secondary text-white">
				<div class="col-3">
					<p class="h4">Autor</p>
					<p class="h4">Suarez, Dario Oscar</p>
				</div>
				<div class="col-3">
					<p class="h5">Direccion</p>
					<p class="h6">AV 19 de Abril, 1550.</p>
					<div>
						<a class="text-decoration-none text-white" href="#">Terminos y
							condiciones</a>
					</div>
					<div>
						<a class="text-decoration-none text-white" href="#">Politicas
							de Privacidad</a>
					</div>
				</div>
				<div class="col-3">
					<p class="h5">Cursos</p>
					<div>
						<a class="text-decoration-none text-white" href="#">Java</a>
					</div>
					<div>
						<a class="text-decoration-none text-white" href="#">HTML</a>
					</div>
					<div>
						<a class="text-decoration-none text-white" href="#">Boottrap</a>
					</div>
				</div>
				<div class="col-3">
					<div>
						<p class="h5">Contacto</p>
						<a class="text-decoration-none text-white" href="#">alumnos@hotmail.com</a>
					</div>
					<div>
						<p class="h5">Redes</p>
						<a class="text-decoration-none text-white" href="www.facebook.com">Facebook</a>
						<a class="text-decoration-none text-white" href="www.linkedin.com">Linkedin</a>
					</div>
				</div>
			</div>
		</div>

		<script
			data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
			crossorigin="anonymous"></script>
	</div>

</body>
</html>