<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<meta name="viewport">
</head>
<body class="container">
	<header data-th-replace="~{/layouts/header::header}"></header>

	<div class="row justify-content-start">
		<div class="col-3"></div>
		<div class="col-6">
			<!--                          MetodoQueSeEfecutaAlPresionarBoton     -->
			<form data-th-object="${docenteForm}"
				data-th-action="${band}?@{/docente/guardarDocente}:@{/docente/modificarDocente}" method="post">
				<div class=mb-3>
					<label for=legajo class=form-label>Legajo</label> <input th:readonly="!${band}"
						type="text" class=form-control id=legajo data-th-field=*{legajo}
						required aria-describedby=ayudaLeg>
						<div id=ayudaLeg class=form-text th:if="!${band}">No puede modificar el Legajo</div>
				</div>
				<div class=mb-3>
					<label for=nombre class=form-label>Nombre</label> <input required
						type="text" class=form-control id=nombre data-th-field=*{nombre}>
				</div>
				<div class=mb-3>
					<label for=apellido class=form-label>Apellido</label> <input
						required type="text" class=form-control id=apellido
						data-th-field=*{apellido}>
				</div>
				<div class=mb-3>
					<label for=email class=form-label>E-mail</label> <input required
						type="email" class=form-control id=email
						aria-describedby=ayudaEmail data-th-field=*{email}>
					<div id=ayudaEmail class=form-text>Ingresa correo
						electronico.</div>
				</div>
				<div class=mb-3>
					<label for=telefono class=form-label>Numero de Celular</label> <input
						required type="text" class=form-control id=telefono
						aria-describedby=ayudaTelefono data-th-field=*{telefono}>
					<div id=ayudaTelefono class=form-text>Ingresa el numero de
						celular sin el +54, solo caracteristica de provincia, y sin el 15.</div>
				</div>
				<button type="submit" class="btn btn-primary">Enviar</button>
			</form>
		</div>
		<div class="col-3"></div>
	</div>
	<footer data-th-replace="~{/layouts/footer::footer}"></footer>
</body>
</html>